<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}}
  xml:lang="{{.}}" lang="{{.}}"{{end}} class="wallpaper"
  style="background-color: hsl(205, 13%, 48%);">
  <head>
    {{- partial "head.html" . -}}
    {{- block "pageStyles" . }}{{- end }}
  </head>
  <body class="dom-loading">
    {{ partial "menu.html" . }}
    <div class="grid">
      <div class="col sticky">
        <main id="content" class="content" aria-role="main">
          {{- block "main" . }}{{- end }}
        </main>
      </div>
      <div id="menu" class="col floaty">
        <aside class="sidebar inverse">
          {{ partial "header.html" . }}
          <nav>
            {{- block "nav" . }}{{- end }}
          </nav>
          {{ partial "footer.html" . }}
        </aside>
      </div>
    </div>
  {{ template "_internal/google_analytics_async.html" . }}
  {{- block "pageScripts" . }}{{- end }}
  </body>
</html>
