<footer>
  <p>
    <span class="copyleft">©</span><span>{{ now.Format "2006"}} Atmanautica</span>
    <br />
    <a href="https://easeness.biz">Easeness</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://nameless.quest">Nameless</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://kerrbear.wtf">Commonplace</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://krry.dev">Dev Folio</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://kerrbe.ar">Kerrbear's Den</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://naascommunity.org">Community</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://passage.atmanaut.us">Passage</a>
    <br />
    <a href="https://unsplash.com/collections/4311532/atmanaut">Photos via Unsplash</a>
  </p>
</footer>
