<footer>
  <p>
    <span class="copyleft">©</span><span>{{ now.Format "2006"}} Atmanautica</span>
    <br />
    <a href="https://naascommunity.org">Community</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://atmanautica.com">Folio</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://easeness.biz">Easeness</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://nameless.atmanaut.us">Nameless</a>
    <span>&nbsp;•&nbsp;</span>
    <a href="https://passage.atmanaut.us">Passage</a>
    <br />
    <a href="https://source.unsplash.com/collection/4311532">Photo via Unsplash</a>
  </p>
</footer>
