<div id="fastSearch" class="fast-search">
  <button id="searchHint" class="search-hint btn clear">
    <span class="inspector">🕵️‍♀️</span><span id="searchLabel" class="search-label">&nbsp;Seek&nbsp;</span>
    <code class="modkey"><span id="modkey"></span>p or &larr;Esc&rarr;</code>
  </button>
  <input id="searchInput" tabindex="0" class="search-input" placeholder="and ye shall find…">
  <ul id="searchResults" class="search-results">
  </ul>
</div>
{{- $fuse := resources.Get "js/fuse.js" -}}
{{- $fastsearch := resources.Get "js/fastsearch.js" -}}
<script type="text/javascript" src="{{ $fuse.Permalink }}" media="screen"></script>
<script type="text/javascript" src="{{ $fastsearch.Permalink }}" media="screen"></script>
