<div id="fastSearch" class="fast-search">
  <button id="searchHint" class="search-hint btn clear">
    <span class="inspector">🕵️‍♀️</span><span id="searchLabel" class="search-button">&nbsp;Seek&nbsp;</span>
  </button>
  <label for="searchInput" class="search-label">
    <input id="searchInput" tabindex="0" class="search-input" placeholder="and ye shall find…">
    <code id="modkey" class="modkey"><span id="oskey"></span>p or &lt;Esc&gt;</code>
  </label>
  <ul id="searchResults" class="search-results">
  </ul>
</div>
{{- $fuse := resources.Get "js/fuse.js" -}}
<script type="text/javascript" src="{{ $fuse.Permalink }}" media="screen"></script>
